<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Symbole 10000</key>
			<dict>
				<key>frame</key>
				<string>{{730,0},{695,453}}</string>
				<key>offset</key>
				<string>{-11,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{35,23},{695,453}}</string>
				<key>sourceSize</key>
				<string>{695,453}</string>
			</dict>
			<key>Symbole 10001</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{730,476}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{730,476}}</string>
				<key>sourceSize</key>
				<string>{730,476}</string>
			</dict>
			<key>Symbole 10002</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{730,476}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{730,476}}</string>
				<key>sourceSize</key>
				<string>{730,476}</string>
			</dict>
			<key>Symbole 10003</key>
			<dict>
				<key>frame</key>
				<string>{{0,476},{710,462}}</string>
				<key>offset</key>
				<string>{-8,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,14},{710,462}}</string>
				<key>sourceSize</key>
				<string>{710,462}</string>
			</dict>
			<key>Symbole 10004</key>
			<dict>
				<key>frame</key>
				<string>{{0,476},{710,462}}</string>
				<key>offset</key>
				<string>{-8,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,14},{710,462}}</string>
				<key>sourceSize</key>
				<string>{710,462}</string>
			</dict>
			<key>Symbole 10005</key>
			<dict>
				<key>frame</key>
				<string>{{710,476},{704,459}}</string>
				<key>offset</key>
				<string>{-9,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,17},{704,459}}</string>
				<key>sourceSize</key>
				<string>{704,459}</string>
			</dict>
			<key>Symbole 10006</key>
			<dict>
				<key>frame</key>
				<string>{{710,476},{704,459}}</string>
				<key>offset</key>
				<string>{-11,-15}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,17},{704,459}}</string>
				<key>sourceSize</key>
				<string>{704,459}</string>
			</dict>
			<key>Symbole 10007</key>
			<dict>
				<key>frame</key>
				<string>{{710,476},{704,459}}</string>
				<key>offset</key>
				<string>{-11,-15}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,17},{704,459}}</string>
				<key>sourceSize</key>
				<string>{704,459}</string>
			</dict>
			<key>Symbole 10008</key>
			<dict>
				<key>frame</key>
				<string>{{710,476},{704,459}}</string>
				<key>offset</key>
				<string>{-11,-15}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,17},{704,459}}</string>
				<key>sourceSize</key>
				<string>{704,459}</string>
			</dict>
			<key>Symbole 10009</key>
			<dict>
				<key>frame</key>
				<string>{{710,476},{704,459}}</string>
				<key>offset</key>
				<string>{-11,-15}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,17},{704,459}}</string>
				<key>sourceSize</key>
				<string>{704,459}</string>
			</dict>
			<key>Symbole 10010</key>
			<dict>
				<key>frame</key>
				<string>{{710,476},{704,459}}</string>
				<key>offset</key>
				<string>{-11,-15}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,17},{704,459}}</string>
				<key>sourceSize</key>
				<string>{704,459}</string>
			</dict>
			<key>Symbole 10011</key>
			<dict>
				<key>frame</key>
				<string>{{710,476},{704,459}}</string>
				<key>offset</key>
				<string>{-11,-15}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,17},{704,459}}</string>
				<key>sourceSize</key>
				<string>{704,459}</string>
			</dict>
			<key>Symbole 10012</key>
			<dict>
				<key>frame</key>
				<string>{{710,476},{704,459}}</string>
				<key>offset</key>
				<string>{-11,-15}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,17},{704,459}}</string>
				<key>sourceSize</key>
				<string>{704,459}</string>
			</dict>
			<key>Symbole 10013</key>
			<dict>
				<key>frame</key>
				<string>{{710,476},{704,459}}</string>
				<key>offset</key>
				<string>{-11,-15}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,17},{704,459}}</string>
				<key>sourceSize</key>
				<string>{704,459}</string>
			</dict>
			<key>Symbole 10014</key>
			<dict>
				<key>frame</key>
				<string>{{710,476},{704,459}}</string>
				<key>offset</key>
				<string>{-11,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,17},{704,459}}</string>
				<key>sourceSize</key>
				<string>{704,459}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>logoBumpin.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>logoBumpin.png</string>
		</dict>
	</dict>
</plist>
