<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>logo bumpin0000</key>
			<dict>
				<key>frame</key>
				<string>{{100,100},{747,493}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{747,493}}</string>
				<key>sourceSize</key>
				<string>{747,493}</string>
			</dict>
			<key>logo bumpin0001</key>
			<dict>
				<key>frame</key>
				<string>{{947,100},{747,493}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{747,493}}</string>
				<key>sourceSize</key>
				<string>{747,493}</string>
			</dict>
			<key>logo bumpin0002</key>
			<dict>
				<key>frame</key>
				<string>{{947,100},{747,493}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{747,493}}</string>
				<key>sourceSize</key>
				<string>{747,493}</string>
			</dict>
			<key>logo bumpin0003</key>
			<dict>
				<key>frame</key>
				<string>{{100,693},{747,493}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{747,493}}</string>
				<key>sourceSize</key>
				<string>{747,493}</string>
			</dict>
			<key>logo bumpin0004</key>
			<dict>
				<key>frame</key>
				<string>{{100,693},{747,493}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{747,493}}</string>
				<key>sourceSize</key>
				<string>{747,493}</string>
			</dict>
			<key>logo bumpin0005</key>
			<dict>
				<key>frame</key>
				<string>{{947,693},{747,493}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{747,493}}</string>
				<key>sourceSize</key>
				<string>{747,493}</string>
			</dict>
			<key>logo bumpin0006</key>
			<dict>
				<key>frame</key>
				<string>{{100,1286},{747,493}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{747,493}}</string>
				<key>sourceSize</key>
				<string>{747,493}</string>
			</dict>
			<key>logo bumpin0007</key>
			<dict>
				<key>frame</key>
				<string>{{100,1286},{747,493}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{747,493}}</string>
				<key>sourceSize</key>
				<string>{747,493}</string>
			</dict>
			<key>logo bumpin0008</key>
			<dict>
				<key>frame</key>
				<string>{{100,1286},{747,493}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{747,493}}</string>
				<key>sourceSize</key>
				<string>{747,493}</string>
			</dict>
			<key>logo bumpin0009</key>
			<dict>
				<key>frame</key>
				<string>{{100,1286},{747,493}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{747,493}}</string>
				<key>sourceSize</key>
				<string>{747,493}</string>
			</dict>
			<key>logo bumpin0010</key>
			<dict>
				<key>frame</key>
				<string>{{100,1286},{747,493}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{747,493}}</string>
				<key>sourceSize</key>
				<string>{747,493}</string>
			</dict>
			<key>logo bumpin0011</key>
			<dict>
				<key>frame</key>
				<string>{{100,1286},{747,493}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{747,493}}</string>
				<key>sourceSize</key>
				<string>{747,493}</string>
			</dict>
			<key>logo bumpin0012</key>
			<dict>
				<key>frame</key>
				<string>{{100,1286},{747,493}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{747,493}}</string>
				<key>sourceSize</key>
				<string>{747,493}</string>
			</dict>
			<key>logo bumpin0013</key>
			<dict>
				<key>frame</key>
				<string>{{100,1286},{747,493}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{747,493}}</string>
				<key>sourceSize</key>
				<string>{747,493}</string>
			</dict>
			<key>logo bumpin0014</key>
			<dict>
				<key>frame</key>
				<string>{{947,1286},{747,493}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{747,493}}</string>
				<key>sourceSize</key>
				<string>{747,493}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Start_Screen_Assets.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>Start_Screen_Assets.png</string>
		</dict>
	</dict>
</plist>
